@font-face {
  font-family: regular;
  src: url('../assets/font/Pangolin-Regular.ttf');
}

.headerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .titleContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      width: 80%;
      font-weight: bold;
      color: #A60DFF;
    }

    .mainTitle {
      font-size: 3em;
    }
    .subTitle {
      font-size: 1.5em;
    }
  }

  .navContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    .nav {
      width: 30%;
      font-size: 2em;
      color: #950C9F;
      font-weight: bold;
      text-align: center;
      font-family: regular;
    }
  }
}