.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: #E9E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  .subContainer {
    width: 90%;
    height: 90%;

    .headerComponent {
      width: 100%;
      height: 20%;
    }
  }
}