.mainContainer {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/html.jpg');
  opacity: 0.7;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .loginComponent {
    width: 50%;
    height: 70%;
  }
}